@using Bogdan_Auto.Models
@using Microsoft.AspNetCore.Identity
@model IEnumerable<CustomerUser>
@{
    ViewData["Title"] = "Account Management";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<br />
<div class="row">
    <div class="col-2">
        <h2 class="text-info">Account List</h2>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
        
    </div>
    <div class="col-4"></div>
    <div class="col-md-2 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Create staff Account</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped borders">
        <tr class="table-info">
            <th>@Html.DisplayNameFor(p => p.Id)</th>
             <th>@Html.DisplayNameFor(p => p.UserName)</th>
            <th>Is Disabled</th>
            <th>@Html.DisplayNameFor(p => p.AccessFailedCount)</th>
            <th></th>
            <th></th>
        </tr>
        @if(Model != null)foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.IsDisabled</td>
                    <td>@item.AccessFailedCount</td>
                    <td style="width:50px">
                        <partial name="_ButtonPartialAccount" model="@item.Id"/>
                    </td>
                </tr>
            }
    </table>
</div>
@section scripts{
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["Created"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["Disabled"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}
